@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  text-decoration: none;
  list-style: none;
}

body {
  background: linear-gradient(to right, #b8ff8c, #c9ffe9);
}

.collection {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  animation: fadeUp 1s ease-out;
}
.products {
  min-height: 100%;
  margin: auto;
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card {
  background: rgb(34, 219, 83);
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(0, 146, 30);

  animation: fadeUp 1s ease-out;
  transition: transform 0.3s ease;
}

.product-card img {
  margin: 35px;
  width: 80%;
  height: 50%;
  border-radius: 20px;
}

.product-card h3 {
  padding: 15px;
  margin: 0;
  color: white;
}

.product-card p {
  padding: 0 15px;
  font-size: 20px;
  color: white;
}

.product-card button {
  width: 90%;
  margin: 15px;
  padding: 15px;
  background: #57b538;
  border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
}
.product-card button:hover {
  background: #247a07;
}
.my_logo {
  color: white;
  font-size: 25px;
  font-weight: bold;
  animation: fadeUp 1s ease-out;
}

nav {
  background-color: rgb(24, 145, 56);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}
nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  animation: fadeUp 1s ease-out;
}

nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
}

nav ul li a:hover {
  color: yellow;
}

@keyframes fadeUp {
  from {
    opacity: 0;

    transform: translateY(30px);
  }

  to {
    opacity: 1;

    transform: translateY(0);
  }
}
