@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  text-decoration: none;
  list-style: none;
}

body {
  background: linear-gradient(to right, #b8ff8c, #c9ffe9);
}

.collection {
  text-align: center;
  margin-top: 40px;
  animation: fadeUp 1s ease-out;
}
.products {
  min-height: 100%;
  margin: auto;
  padding: 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}

.product-card {
  background: rgb(34, 219, 83);
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

  animation: fadeUp 1s ease-out;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
}
.product-card img {
  margin: 30px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.product-card h3 {
  padding: 15px;
  margin: 0;
  color: white;
}

.product-card p {
  padding: 0 15px;
  font-size: 20px;
  color: white;
}

.product-card button {
  width: 90%;
  margin: 15px;
  padding: 15px;
  background: #57b538;
  border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
}

.product-card button a {
  color: white;
  padding: 15px;
}
.product-card button:hover {
  background: #247a07;
}
.my_logo {
  color: white;
  font-size: 25px;
  font-weight: bold;
  animation: fadeUp 1s ease-out;
}

nav {
  background-color: rgb(24, 145, 56);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}
nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  animation: fadeUp 1s ease-out;
  transition: transform 0.3s ease;
}
nav ul li:hover {
  transform: scale(1.1);
}
nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
}

nav ul li a:hover {
  color: yellow;
}

.footer {
  background: linear-gradient(135deg, #168b2d, #1fa33d);
  color: white;
  padding: 60px 10%;
  
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  
}

.footer-brand h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  margin-right: 30px;
}

.footer-brand p {
  color: #d8f5de;
  line-height: 1.6;
}

.footer-section h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 12px 0;
}

.footer-section ul li a {
  color: #f5f5f5;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: yellow;
  padding-left: 8px;
}

.footer-bottom {
  margin-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 20px;
  text-align: center;
  color: #d8f5de;
}

@keyframes fadeUp {
  from {
    opacity: 0;

    transform: translateY(30px);
  }

  to {
    opacity: 1;

    transform: translateY(0);
  }
}

.con {
  min-height: 100%;
  margin: auto;
  padding: 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contact_h1{
  text-align: center;
  font-size: 30px;
   animation: fadeUp 1s ease-out;
  transition: transform 0.3s ease;
}
.contact_h5{
  color: rgb(114, 114, 3);
  text-align: center;
  font-size: 20px;
   animation: fadeUp 1s ease-out;
  transition: transform 0.3s ease;
}
.contact_h2{
  text-align: center;
  color: rgb(250, 250, 92);
  margin-top: 18px;
  font-size: 30px;
}
.display_flex{
  display: flex;
  width: 100%;

}
.leftside {
  
  transform: translateY(50px);
  animation: slideup 1s ease-out forwards;
  flex: 1;
  width: 50%;
  padding-left: 50px;
  margin-left: 30px;
  padding-right: 50px;
  background-color: #1b5e20;
  border-radius: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  transition: all 0.3s ease;
}
.leftside:hover{
  transform: translateY(5px);
    cursor: pointer;

}
.image{
  width: 5%;
  
 
}
.place{
  
  
  color: white;

}
.rightside {
  transform: translateY(50px);
  animation: slideup 1s ease-out forwards;
  flex: 1;
  width: 50%;
  padding-left: 40px;
  margin-left: 40px;
  margin-right: 20px;
  padding-right: 40px;
  background-color: #1b5e20;
  border-radius: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  transition: all 0.3s ease;
}
.rightside:hover{
  transform: translateY(0) scale(1.03); 
}

.contact-item i{
    color: rgb(250, 250, 92);
    font-size: 24px;
    margin-right: 15px;
}
.text{
  color: white;
}
.name{
  
  margin-top: 40px;
  margin-left: 50px;
  background-color: gray;
  color: white;
  padding-right: 300px;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  border: none;
  outline: none;

}
.email{
  margin-top: 40px;
  margin-left: 50px;
  background-color: gray;
  color: white;
  padding-right: 300px;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  border: none;
  outline: none;

}
.message{
 margin-top: 40px;
  margin-left: 50px;
  background-color: gray;
  color: white;
  padding-right: 300px;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  border: none;
  outline: none;

}
.send{
  align-items: center;
  margin-top: 10px;
  margin-left: 50px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(250, 250, 92);
  background-color: gray;
  border-radius: 10px;
  border: none;
  outline: none;
  
}
input::placeholder{
  padding-left: 10px;
  font-style: italic;
  color: rgb(250, 250, 92);
  opacity: 1;
}
.message::placeholder{
  padding-left:10px;
  font-style: italic;
  color: rgb(250, 250, 92);
}
.send:hover{
  background-color:rgb(198, 198, 25);
  color: black;
  cursor: pointer;
}
a{
  color: white;
}
a:hover{
  opacity: 0.5;
  text-decoration: underline;
}
@keyframes slideup{
  to{
    opacity: 1;
    transform: translateY(0);
  }
}










